[difftool]
prompt = false

[mergetool]
prompt = false

[push]
default = simple

[difftool "vscode"]
cmd = "code --wait --diff  "

[diff]
	tool = vscode

[alias]
cemail = config --get user.email
d = difftool --dir-diff
dc = difftool --dir-diff --cached
a = add -A
b = branch
c = checkout
com = commit -m
f = fetch
l = log --pretty=oneline --abbrev-commit
r = rebase --interactive HEAD~10
s = status
pr = pull --rebase
rc = rebase --continue
ra = rebase --abort
lg = log --graph --pretty=format:'%%Cred%%h%%Creset %%C(yellow)%%d%%Creset %%s %%Cgreen(%%cr) %%C(bold blue)<%%an>%%Creset' --abbrev-commit --date=relative
lga = log --graph --pretty=format:'%%Cred%%h%%Creset %%C(yellow)%%d%%Creset %%s %%Cgreen(%%cr) %%C(bold blue)<%%an>%%Creset' --abbrev-commit --date=relative --all
logrel=!git log --date=iso --pretty=format:'%C(auto) %ad%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08 %d %s' HEAD...$1^
ll = log --pretty=oneline --abbrev-commit --max-count=15
lc = log --stat --summary
tpr = tf pull --rebase --deep
tcd = tf checkin --deep
prune = fetch --prune
aliases = config --get-regexp alias
amend = commit --amend
bl = blame -w -M -C
bra = branch -rav
branches = branch -rav
filelog = log -u
hist = log --graph --pretty=format:'%%Cred%%h%%Creset -%%C(yellow)%%d%%Creset %%s %%Cgreen(%%cr) %%C(bold blue) [%%an]%%Creset' --abbrev-commit --date=relative
last = log -p --max-count=1 --word-diff
lastref = rev-parse --short HEAD
lasttag = describe --tags --abbrev=0
pick = add -p
remotes = remote -v show
stage = add
statusSB = status -sb
stats = diff --stat
sync = !git fetch upstream -v && git fetch origin -v && git checkout master && git merge upstream/master
undo = reset head~
unstage = reset HEAD
wdiff = diff --word-diff
who = shortlog -s -e --
up = !git fetch --all --prune && git rebase origin/master && git submodule update && git push . origin/master:master 2>/dev/null
pub = !git push origin HEAD:master && git push . HEAD:master && git checkout master
cb = checkout -b
tprs = tf pull --rebase --shallow
tcds = tf checkin --shallow
grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)'
[color]
branch = auto
diff = auto
status = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = yellow
changed = green
untracked = cyan
[user]
name = Mark Zuber
	email = zube@meta.com
[credential]
helper = store
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[pull]
rebase = true
[core]
	editor = code-fb --wait --new-window
	pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[include]
	path = ~/dotfiles/delta/themes.gitconfig

[delta]
	features = collared-trogon line-numbers decorations
	side-by-side = false
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff "tool.vscode"]
	cmd = code-fb --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
